{{ form_start(form) }}
    {# {{ form_widget(form.imageFileName) }} #}

    <div class="row">
        <div>
            {{ form_row(form.name, {'label': 'Nom de la formation'}) }}
        </div>
        <div>
            {{ form_row(form.description, {'label': 'Description'}) }}
        </div>
        <div>
            {{ form_row(form.content, {'label': 'Contenu'}) }}
        </div>
    </div>

    <div class="row">
    <div class="col">
            {{ form_row(form.capacityMin, {'label': 'Capacité Minimum'}) }}
        </div>
        <div class="col">
            {{ form_row(form.capacity, {'label': 'Capacité Maxium'}) }}
        </div>
    </div>

    <div class="row">
        <div>
            {{ form_row(form.price, {'label': 'Prix'}) }}
        </div>
    </div>

    <div class="row">
        <div class="col">
            {{ form_row(form.startDateTime, {'label': 'Date de début'}) }}
        </div>
        <div class="col">
            {{ form_row(form.endDateTime, {'label': 'Date de fin'}) }}
        </div>
    </div>

    <div class="row">
        <div>
            {{ form_row(form.place, {'label': 'Lieu'}) }}
        </div>
    </div>

    <div class="row">
        <div class="col">
            {{ form_row(form.speaker, {'label': 'Intervenant'}) }}
        </div>
        <div class="col">
            {{ form_row(form.createdBy, {'label': 'Créer par'}) }}
        </div>
    </div>

    <div class="row">
        <div class="col">
            <img width="150" height="150" src="{{ asset('/uploads/images/' ~ formation.imageFileName) }}">
        </div>
        <div class="col">
            {{ form_row(form.image) }}
        </div>
    </div>

    <br><h3>Contenu du PDF</h3><hr>

    <div class="row">
        <div class="col">
            {{ form_row(form.objectif) }}
        </div>
        <div class="col">
            {{ form_row(form.prerequis) }}
        </div>
    </div>

    <div class="row">
        <div class="col">
            {{ form_row(form.moyenPedagogique) }}
        </div>
        <div class="col">
            {{ form_row(form.evaluation) }} 
        </div>
    </div>

    <div class="row">
        <div class="col">
        {% set modalitesRow = form_row(form.modalites) %}
        {% if modalitesRow is not null %}

            {{ modalitesRow | raw }}

        {% else %}

            {{ form_row(form.modalites, {'value' : '<b>Le chef d\'établissement doit inscrire ses personnels auprès de FC PRO
(contact par mail ou par téléphone) au plus tard 7 jours avant le début de
la formation et faire la demande de prise en charge (sur OPCABOX pour
le personnel OGEC, auprès de FORMIRIS pour le personnel enseignant)
au plus tard 15 jours avant la date de début de la formation. L\'inscription
des personnels enseignants sur FORMIRIS devra se faire 7 jours avant
la date de début de formation.</b>'}) }}

        {% endif %}
        </div>
        <div class="col">
            {{ form_row(form.format) }} 
        </div>
    </div>

    <button class="btn btn-primary mt-3">{{ button_label|default('Créer') }}</button>
    <a class="btn btn-secondary mt-3" href="{{ path('app_formation_index') }}">Revenir à la liste</a>
{{ form_end(form) }}
