{{ form_start(form) }}
    {# {{ form_widget(form.imageFileName) }} #}

    <div class="row">
        <div>
            {{ form_row(form.name) }}
        </div>
        <div>
            {{ form_row(form.description) }}
        </div>
        <div>
            {{ form_row(form.content) }}
        </div>
    </div>

    <div class="row">
        <div class="col">
            {{ form_row(form.capacity) }}
        </div>
        <div class="col">
            {{ form_row(form.capacityMin) }}
        </div>
    </div>

    <div class="row">
        <div>
            {{ form_row(form.price) }}
        </div>
    </div>

    <div class="row">
        <div class="col">
            {{ form_row(form.startDateTime) }}
        </div>
        <div class="col">
            {{ form_row(form.endDateTime) }}
        </div>
    </div>

    <div class="row">
        <div>
            {{ form_row(form.place) }}
        </div>
    </div>

    <div class="row">
        <div class="col">
            {{ form_row(form.speaker) }}
        </div>
        <div class="col">
            {{ form_row(form.createdBy) }}
        </div>
    </div>

    <div class="row">
        <div class="col">
            <img width="150" height="150" src="{{ asset('/uploads/images/' ~ formation.imageFileName) }}">
        </div>
        <div class="col">
            {{ form_row(form.image) }}
        </div>
    </div>

    <br><h3>Contenu du PDF</h3><hr>

    <div class="row">
        <div class="col">
            {{ form_row(form.objectif) }}
        </div>
        <div class="col">
            {{ form_row(form.prerequis) }}
        </div>
    </div>

    <div class="row">
        <div class="col">
            {{ form_row(form.moyenPedagogique) }}
        </div>
        <div class="col">
            {{ form_row(form.evaluation) }} 
        </div>
    </div>

    <div class="row">
        <div class="col">
        {% if form_row(form.modalites) != null %}

            {{ form_row(form.modalites) }}

        {% else %}

            {{ form_row(form.modalites, {'value' : '<b>Le chef d\'établissement doit inscrire ses personnels auprès de FC PRO
(contact par mail ou par téléphone) au plus tard 7 jours avant le début de
la formation et faire la demande de prise en charge (sur OPCABOX pour
le personnel OGEC, auprès de FORMIRIS pour le personnel enseignant)
au plus tard 15 jours avant la date de début de la formation. L\'inscription
des personnels enseignants sur FORMIRIS devra se faire 7 jours avant
la date de début de formation.</b>'}) }}

        {% endif %}
        </div>
        <div class="col">
            {{ form_row(form.format) }} 
        </div>
    </div>

    <button class="btn btn-primary mt-3">{{ button_label|default('Créer') }}</button>
    <a class="btn btn-secondary mt-3" href="{{ path('app_formation_index') }}">Revenir à la liste</a>
{{ form_end(form) }}
