{{ form_start(form) }}

<script>
        document.addEventListener('DOMContentLoaded', function () {
            flatpickr(".datepicker", {
                dateFormat: "d/m/Y",
            });
        });
</script>
<hr>
    <div class="row">
        <div>
            {{ form_row(form.validation, {'label': 'Valider la formation'}) }}
        </div>
    </div>

    <div class="row">
        <div>
            {{ form_row(form.name, {'label': 'Nom de la formation'}) }}
        </div>
        <div>
            {{ form_row(form.description, {'label': 'Description'}) }}
        </div>
        <div>
            {{ form_row(form.content, {'label': 'Contenu'}) }}
        </div>
    </div>

    <div class="row">
    <div class="col">
            {{ form_row(form.capacityMin, {'label': 'Capacité minimum'}) }}
        </div>
        <div class="col">
            {{ form_row(form.capacity, {'label': 'Capacité maximum'}) }}
        </div>
    </div>

    <div class="row">
        <div>
            {{ form_row(form.price, {'label': 'Prix'}) }}
        </div>
    </div>

    <div class="row">
        <div class="col">
            {{ form_row(form.startDateTime, {'label': 'Date de début'}, {'attr': {'class': 'datepicker'}}) }}
        </div>
        <div class="col">
            {{ form_row(form.endDateTime, {'label': 'Date de fin'}, {'attr': {'class': 'datepicker'}}) }}
        </div>
    </div>

    <div class="row">
        <div>
            {{ form_row(form.place, {'label': 'Lieu'}) }}
        </div>
    </div>

    <div class="row">
        <div class="col">
            {{ form_row(form.speaker, {'label': 'Intervenant'}) }}
        </div>
        <div class="col" style="visibility:hidden;">
            {{ form_row(form.createdBy, {'label': 'Créer par'}) }}
        </div>
    </div>

    <div class="row">
        <div class="col">
            <img width="150" height="150" src="{{ asset('/uploads/images/' ~ formation.imageFileName) }}">
        </div>
        <div class="col">
            {{ form_row(form.image) }}
        </div>
    </div>

    <br><h3>Contenu du PDF</h3><hr>

    <div class="row">
        <div class="col">
            {{ form_row(form.objectif) }}
        </div>
        <div class="col">
            {{ form_row(form.prerequis) }}
        </div>
    </div>

    <div class="row">
        <div class="col">
            {{ form_row(form.moyenPedagogique) }}
        </div>
        <div class="col">
            {{ form_row(form.evaluation) }} 
        </div>
    </div>

    <div class="row">
        <div class="col">
            {{ form_row(form.modalites, {'label': 'Modalités d\'accès et d\'inscription'}) }}
        </div>
        <div class="col">
            {{ form_row(form.format, {'label': 'Modalités'}) }}
        </div>
    </div>

    <div class="row">
        <div class="col">
            {{ form_row(form.accessibilite) }}
        </div>
        <div class="col">
            {{ form_row(form.contact) }} 
        </div>
    </div>

    <button class="btn btn-primary mt-3">{{ button_label|default('Créer') }}</button>
    <a class="btn btn-secondary mt-3" href="{{ path('app_formation_index') }}">Revenir à la liste</a>
{{ form_end(form) }}
