{% extends 'base.html.twig' %}

{% block title %}Liste des formations
{% endblock %}

{% block body %}
<h1>Liste des formations</h1>

{% set number = 0 %}
<div class="accordion" id="accordionExample">
	{% for formation in formations %}
    {% set number = number + 1 %}
		<div class="accordion-item">
			<h2 class="accordion-header">
				<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ formation.id }}" aria-expanded="true" aria-controls="collapse{{ formation.id }}">
					{{ formation.name }}
				</button>
			</h2>
			<div id="collapse{{ formation.id }}" class="accordion-collapse collapse {% if number <2 %} show {% endif %}" data-bs-parent="#accordionExample">
				<div class="accordion-body">
                <strong>{{'Price'|trans}} : </strong>{{ formation.price }}€<br>
                <strong>{{'capacity'|trans}} : </strong>{{ formation.capacity }}<br>
                <strong>{{'Start Date'|trans}} : </strong>{{ formation.startDateTime ? formation.startDateTime|date('Y/m/d') : '' }}<br>
                <strong>{{'End Date'|trans}} : </strong>{{ formation.endDateTime ? formation.endDateTime|date('Y/m/d') : '' }}<br><br>
					{{ formation.content|raw  }}
					<br>
					<a href="/formation/pdf/{{ formation.id }}" class="btn btn-primary" target="_blank">PDF</a>
				</div>
			</div>
		</div>
	{% endfor %}
</div>
{% endblock %}