{% extends 'base.html.twig' %}

{% block title %}Formations{% endblock %}

{% block body %}
    <style>
        .photo {
            margin: 5px;
            height: 525px;
            object-fit: cover;
            overflow: hidden;
        }

        .photo img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

		.carousel-control-prev-icon,
		.carousel-control-next-icon {
			background-color: #000;
		}

		.carousel-control-prev-icon::before,
		.carousel-control-next-icon::before {
			color: #fff; 
		}
    </style>
    <h1 style="text-align: center;">Formations</h1>

    {% if formations is not empty %}
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                {% for i in 0..(formations|length - 1) %}
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ i }}" {% if i == 0 %}class="active"{% endif %} aria-label="Slide {{ i + 1 }}"></button>
                {% endfor %}
            </div>
            <div class="carousel-inner">
                {% for formation in formations %}
                    <div class="carousel-item {% if loop.first %}active{% endif %} carousel-fit">
                        <img src="/uploads/images/{{ formation.imageFileName }}" class="d-block w-100 photo" alt="{{ loop.index }}">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 style="font-size: 22px" class="ch-max-25 bg-dark p-3 text-white bg-opacity-75 rounded">{{ formation.name }}</h5>
                            <br>
                            <a class="btn btn-primary" href="/formation/{{ formation.id }}" role="button">
                                Voir <i class="fa-solid fa-chevron-right fa-2xs"></i>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>

            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    {% else %}
        <p style="text-align: center;">Il n'y a pas de formation pour le moment.</p>
    {% endif %}

{% endblock %}
