{% extends 'base.html.twig' %}

{% block title %}Formation{% endblock %}

{% block body %}
    <h1>Formation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{'Name'|trans}}</th>
                <td>{{ formation.name }}</td>
            </tr>
            <tr>
                <th>{{'Content'|trans}}</th>
                <td>{{ formation.content|raw }}</td>
            </tr>
            <tr>
                <th>Capacité minimum</th>
                <td>{{ formation.capacityMin }}</td>
            </tr>
            <tr>
                <th>Capacité maximum</th>
                <td>{{ formation.capacity }}</td>
            </tr>
            <tr>
                <th>{{'Price'|trans}}</th>
                <td>{{ formation.price }}</td>
            </tr>
            <tr>
                <th>Créée le</th>
                <td>{{ formation.createdAt ? formation.createdAt|date('d/m/Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Objectifs</th>
                <td>{{ formation.description }}</td>
            </tr>
            <tr>
                <th>{{'StartDateTime'|trans}}</th>
                <td>{{ formation.startDateTime ? formation.startDateTime|date('d/m/Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{{'EndDateTime'|trans}}</th>
                <td>{{ formation.endDateTime ? formation.endDateTime|date('d/m/Y H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}