{% extends 'base.html.twig' %}

{% block title %}Formation{% endblock %}

{% block body %}
    <h1>Formation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{'Id'|trans}}</th>
                <td>{{ formation.id }}</td>
            </tr>
            <tr>
                <th>{{'Name'|trans}}</th>
                <td>{{ formation.name }}</td>
            </tr>
            <tr>
                <th>{{'Content'|trans}}</th>
                <td>{{ formation.content|raw }}</td>
            </tr>
            <tr>
                <th>{{'CapacityMin'|trans}}</th>
                <td>{{ formation.capacityMin }}</td>
            </tr>
            <tr>
                <th>{{'Capacity'|trans}}</th>
                <td>{{ formation.capacity }}</td>
            </tr>
            <tr>
                <th>{{'Price'|trans}}</th>
                <td>{{ formation.price }}</td>
            </tr>
            <tr>
                <th>{{'CreatedAt'|trans}}</th>
                <td>{{ formation.createdAt ? formation.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{{'Description'|trans}}</th>
                <td>{{ formation.description }}</td>
            </tr>
            <tr>
                <th>{{'StartDateTime'|trans}}</th>
                <td>{{ formation.startDateTime ? formation.startDateTime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{{'EndDateTime'|trans}}</th>
                <td>{{ formation.endDateTime ? formation.endDateTime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
