{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const passwordInput = document.querySelector('#registration_form_plainPassword');
        const togglePasswordButton = document.querySelector('#togglePassword');

        togglePasswordButton.addEventListener('click', function() {
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                togglePasswordButton.innerHTML = '<i class="fas fa-eye-slash"></i>';
            } else {
                passwordInput.type = 'password';
                togglePasswordButton.innerHTML = '<i class="fas fa-eye"></i>';
            }
        });
    });
</script>

<style>
.abso{
    position:absolute;
    margin-top: -55px;
    margin-left: 61.8%;
}
</style>

    <h1>S'inscrire</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}<button type="button" id="togglePassword" class="btn btn-link abso"><i class="fas fa-eye"></i></button><hr>
        {{ form_row(registrationForm.agreeTerms) }}

        <button class="btn btn-primary" type="submit" class="btn">S'inscrire</button>
    {{ form_end(registrationForm) }}
{% endblock %}
