{% extends 'base.html.twig' %}

{% block title %}Proposition index{% endblock %}

{% block body %}
    <h1>Proposition index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Name</th>
                <th>Content</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for proposition in propositions %}
            <tr>
                <td>{{ proposition.id }}</td>
                <td>{{ proposition.email }}</td>
                <td>{{ proposition.name }}</td>
                <td>{{ proposition.content }}</td>
                <td>
                    <a href="{{ path('app_proposition_show', {'id': proposition.id}) }}">show</a>
                    <a href="{{ path('app_proposition_edit', {'id': proposition.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_proposition_new') }}">Create new</a>
{% endblock %}
