{% extends 'base.html.twig' %}

{% block title %}Liste des notes{% endblock %}

{% block body %}
    <h1>Liste des notes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom formation</th>
                <th>Utilisateur</th>
                <th>Note</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for notation in notations %}
            <tr>
                <td>{{ notation.id }}</td>
                <td>{{ notation.formation.name }}</td>
                <td>{{ notation.user }}</td>
                <td>{{ notation.note }}</td>
                <td>
                    <a href="{{ path('app_notation_show', {'id': notation.id}) }}">show</a>
                    <a href="{{ path('app_notation_edit', {'id': notation.id}) }}">edit</a>
                    {{ include('notation/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
